spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test_db?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    #password: 12345678 #혁진
#    password: 19980727  #다은
    password: Jhk9458062! #선진

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: false
    show-sql: true
    hibernate:
      format_sql: true
      ddl-auto: create

  #컨트롤러에서 뷰 반환 시 파일 찾는 경로 (기본 templates인데 바꿈)
  thymeleaf:
    prefix: classpath:static/
    suffix: .html
    cache: false

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE